<container class="buttons group">
  <a class='show-refs group' 
    href=<%= "#/doc/" + "show/" + doc.id %>>See Annotations</a>
  <a class='show-refs group' 
    href=<%= "#/doc/" + doc.id + "/showRefs" %>>See References</a>
  <% if (isUser) { %>
    <a class='new-anno group' 
      href=<%= "#/doc/" + doc.id + "/newAnno" %>>Make New Annotation</a>
    <a class="show-refs group" id="new-ref" 
      href=<%="#/doc/" + doc.id + "/showRefs" %>>Add References</a>
  <% } %>
  
  
</container>