<container class="doc-create">
  <form id="create-doc">


    <container class="doc-info group">
      <label id="title">Title </label>
      <input type="text" name="document[title]">

      <button id="submit-doc">Create Document</button>
    </container>


    <label id="body">Body </label>
      <textarea name="document[body]"></textarea>




  </form>
</container>