<container class="doc-create">
  <form id="create-doc">

    <input
      type="hidden"
      name="document[user_id]"
      value="<%= GlossolApp.currUser.id %>">
      
    <% if (doc.get('annotatings').length > 0) { %>  
      <input
        type="hidden"
        name="document[annotating]"
        value="<%= JSON.stringify(doc.get('annotatings')[0]) %>">
    <% } %>

    <container class="doc-info group">
      <label id="title">Title </label>
      <input type="text" name="document[title]">

      <input type="submit" id="submit-doc" value="Create Document">
    </container>


    <label id="body">Body </label>
    <textarea name="document[body]"></textarea>




  </form>
</container>