<container class="doc-create">
  <form id="create-doc">

    <label id="title">
      <input type="text" name="document[title]">
    </label>

    <label id="body" >
      <textarea name="document[body]"></textarea>
    </label>


    <button id="submit-doc">Create Document</button>
  </form>
</container>