<form
  action="<%= document_annotatings_url(document) %>"
  method="POST"
  class="new-anno">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for "note-title">Annotation Title</label>
  <input type="text" name="annotating[title]" id="note-title">

  <br>

  <label for "note-body">Annotation Text</label>
  <textarea name="annotating[body]" id="note-body"></textarea>

  <br>

  <label for="selection">Start and Stop</label>
  <input type="text" name="annotating[source_text]" id="selection">

  <input type="submit" value="Create Annotation" id="c-annoter">
</form>