<h2>Annotated Texts</h2>
<% unless references.empty? %>
  <ul>
    <% references.each do |reference| %>
      <li>
        <%= link_to reference.source_document.title, document_url(reference.source_document)%>:
        <p><%= reference.text_selection %></p>
        <% if current_author %>
          <div class="del-ref">
            <%= render "annotatings/ref_delete", anno: reference %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No Annotated Texts</p>
<% end %>