<h1>Add References</h1>
<h2>for <%= link_to @document.title, document_url(@document) %></h2>

<h1>Existing References:</h1>

<%= render "ref_list",
    references: @document.references,
    current_author: current_user == @document.author %>

<%= link_to "Done Adding References", document_url(@document) %>

<%= render "ref_index", docs: @docs %>