<section class="login">
  
  <h1>Update User Settings</h1>
  
  <form action="<%= user_url(@user) %>" method="POST" class="edit-user">
    <input 
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
    
    <input type="hidden" name="_method" value="PATCH">
    
    <label for "email">Email</label>
    <input 
      type="email" 
      name="user[email]" 
      value="<%= @user.email %>"
      class="log-inputs">

    <label for "password">Password</label>
    <input type="password" name="user[password]" class="log-inputs">
    
    <label for "nick">Nickname</label>
    <input 
      type="text" 
      name="user[nick]" 
      class="log-inputs" 
      value="<%= %>">

    <input type="submit" value="Update Attributes">
    
    
</section>