<section class="login">
  
  <h1>Update User Settings</h1>
  
  <form 
    action="<%= user_url(@user) %>" 
      method="POST" 
      class="edit-user"
      enctype="multipart/form-data">
      
    <input 
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
    
    <input type="hidden" name="_method" value="PATCH">
    
    <label for "email">Email</label>
    <input 
      type="email" 
      name="user[email]" 
      value="<%= @user.email %>"
      class="log-inputs">
    
    <label for "nick">Nickname</label>
    <input 
      type="text" 
      name="user[nick]" 
      class="log-inputs" 
      value="<%= @user.nick %>">
      
    <label for="user_picture">Profile pic</label>
    <input id="user_picture" type="file" name="user[profile_pic]">

    <input type="submit" value="Update Attributes">
    
  </form>
  
  
    
    
</section>