<center><%= image_tag "logo.png", class: "main-img" %></center>

<content class="login">
  <h1>New User</h1>

  <form class="sign-up" action="<%= users_url %>" method="post">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <label for "email">Email:</label>
    <input type="email" name="user[email]" class="log-inputs">

    <label for "password">Password:</label>
    <input type="password" name="user[password]" class="log-inputs">

    <container class="reg-buttons group">
      <div class="stand">
        <input type="submit" value="Sign Up!" class="reg-butt">
      </div>
      <div class="fb">
        <a href="/auth/facebook" id="fb-butt">Sign up with Facebook!</a>
      </div>
    </container>

  </form>
  

</content>
