.doc-create {

  margin-top: 10px;

  form {
    color: #3C3C3C;
    padding-bottom: 10px;
    background: rgba(0, 251, 255, 0.31);;
    border-radius: 10px;
    

    label {
      font-weight: bold;
      padding: 15px;
      font-size: 20px;
      display: block;
    }

    textarea {
      display: block;
      background: #EFFFFB;
      width: 80%;
      height: 680px;
      border: solid red 5px;
      margin: 20px auto;;
      padding: 10px;
      box-shadow: 10px 10px 5px #888888;
    }
    
    textarea:focus {
      border: solid #3EC411 3px;
    }
    
    #body {
      margin-left: 50px;
    }

    .doc-info {
      display: block;
      margin-left: 30px;
      
      #title {
        margin-left: 18px;
      }

      input[type="submit"] {
        border: solid red 3px;
        color: #E5E5E5;
        background: #2484D3;
        float: left;
        margin-left: 40px;
        padding: 8px;
        font-size: 14px;
      }
      
      input[type="submit"]:hover {
        background: #232323;
        color: #FFE500;
      }
    }

    input[type="text"] {
      border: solid red 3px;
      display: block;
      margin-left: 30px;
      float: left;
      padding: 8px;
      margin-bottom: 25px;
      background: #EFFFFB;
    }
    
    input[type="text"]:focus {
      border: solid #222 3px;
      background: #FFF;
      color: #000B99;
    }
  }
}