.user-docs {
  
  li {
    margin: 8px;
    display: block;
    
    .doc-preview {
    
      .author {
        display: block;
      }
      
      a {
        border-radius: 3px;
        width: 60%;
        display: block;
        background: #ccc;
        padding: 8px;
        
        .doc-title {
          color: rgb(4, 0, 246);
        }
      }
    }
  }
}