<content class="login">
  <div class="description">
    <div class="wel">Welcome to Glossol Genius!</div>
    <div class="subtitle">Foonotes are hard.  This is easy.</div>
    <p>GlossolGenius was inspired by the RapGenius UI for annotating documents but extends this basic functionality by supporting multiple references and annotations for each document, much like academic footnotes or links on a blog to content on other sites. GG is implemented with a Rails JSON API serving up content to a Backbone.js front-end.</p>
    <div class="person-links">
      <a href="http://github.com/Axylos/glossol_genius">Source</a>
      <a href="http://draketalley.com">More About Me</a>
    </div>
  </div>
 
  <form class="sign-up">
  
  <input type="hidden" name="isUserNew" id="#isUserNew" value="true">
   
    <ul class="user-data">
      <li>
      <label>Email:
      <input type="email" name="user[email]" class="log-inputs">
      </label>
    </li>

    <li>
      <label>Password:
        <input type="password" name="user[password]" class="log-inputs">
      </label>
    </li>
	
    <li id="nick" >
      <label>Nickname:
        <input type="text" name="user[nick]" class="log-inputs">
      </label>
    </li>
  </ul>

    <container class="reg-buttons group">
        <input type="submit" value="Sign Up!" id="reg-butt">
        <a href="/auth/facebook" id="fb-butt">Sign up with Facebook!</a>
    </container>

  </form>
  

</content>