<content class="login">

  <form class="sign-up">
  
  <input type="hidden" name="userIsNew" id="#isUserNew" value="true">
   
    <ul class="user-data">
      <li>
      <label>Email:
      <input type="email" name="user[email]" class="log-inputs">
      </label>
    </li>

    <li>
      <label>Password:
        <input type="password" name="user[password]" class="log-inputs">
      </label>
    </li>
	
    <li id="nick" >
      <label>Nickname:
        <input type="text" name="user[nick]" class="log-inputs">
      </label>
    </li>
  </ul>

    <container class="reg-buttons group">
        <input type="submit" value="Sign In!" id="reg-butt">
        <a href="/auth/facebook" id="fb-butt">Sign up with Facebook!</a>
    </container>

  </form>
  

</content>