.doc-nav {

  background: #22F26B;
  margin-bottom: 25px;
  ul {
    margin: 0;
    display: block;
    float: left;

    li {
      margin: 0;
      float: left;

      a {
        padding: 10px;
        display: block;
        border-right: solid #DF00F4 2px;

      }
    }
  }


}