.doc-nav {
  
  float: left;
  padding: 0;

  ul {
    margin-left: 20px;
    display: block;

    li {
      margin: 0 5px;
      float: left;

      a {
        padding: 4px;
        border: solid #535353 2px;
        border-radius: 3px;
        color: #222;
        background: #0EDB1A;
        display: block;
        margin: 8px 0;
      }
      
      a:hover {
        background: #FDD5AA;
        color: #793A7D;
      }
    }
  }
}