.home {
  display: block;
  min-height: 75%;

//  For development

  color: #C200C6;

  .lefty {
    height: 900px;
    width: 50%;
    float: left;

    .left-pane {
      display: block;
      padding: 20px;
      height: 100%;
      border-right: solid #333 1px;

      .new-anno {
        color: #FF3000;
        margin: 15px;
        float: left;
        width: 200px;
        padding: 15px;
        font-size: 20px;
        background: #2012E4;
        border: solid #9C00A5 3px;
      }
      
      .show-refs {
        color: #FF3000;
        margin: 15px;
        float: right;
        width: 170px;
        padding: 15px;
        font-size: 20px;
        background: #2012E4;
        border: solid #9C00A5 3px;
      }
      
      .buttons {
        display: block;
        margin: 10px;
      }

      li {
        margin: 10px;
      }
    }
  }
}