<% if doc.persisted? %>
  <% action = document_url(doc) %>
<% else %>
  <% action = user_documents_url(current_user) %>
<% end %>

<form action="<%= action %>" method="POST" class="doc-form">
  
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <% if doc.persisted? %>
    <input type="hidden" name="_method" value="put">
  <% end %>
  
  <section class="utility-stuff group">
   
   
    <div class="submitter"><button>Create Document</button></div>
   
    <section class="title-stuff"> 
      <label for "doc-title">Title:</label>
      <input
        type="text"
        name="document[title]"
        id="doc-title"
        value="<%= doc.title %>">
    </section>
  </section>
    

  <section class="main-text">
    <label for "doc-body"></label>
    <textarea rows="40" cols="80" name="document[body]" id="doc-body">
      <%= doc.body %>
    </textarea>
  </section>
    
    

  

</form>