<% unless star = already_liked?(doc) %>

  <form action="<%= document_stars_url(doc) %>" method="POST">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <input type="submit" value="Add Star to this Document">
  </form>

<% else %>
  <h3>You Starred This</h3>
  <form action="<%= star_url(star) %>" method="POST">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <input type="hidden" name="_method" value="DELETE">

    <input type="submit" value="Un-Star this Document">
  </form>
<% end %>