<h1>Documents Index<h1>

<h3>My Documents</h3>
<%= render "title_list", documents: current_user.documents %>

<h3>Other Documents</h3>
<%= render "title_list", documents: sample_documents %>

<%= link_to "Create Document", new_user_document_url(current_user)%>