<container class="sel-display group">
  <p><span class="label">Selection</span> Document: <%= sel.get('doc').escape('title') %></p>
  <h2><span class="label">Current Selection:</span></h2>
  <p class="text"><%= sel.get('range').text() %></p>
</container>