.doc-preview {
  background: #8FDEE0;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  width: 50%;

  a {
    font-size: 15px;
    color: #fff;
  }
  
  .author-email {
    display: block;
  }
}