body {
  font-family: sans-serif;
  background: #222;
}

.navigation {
  background: #3D3D3D;
  float: left;
  width: 100%;
  border-bottom: solid #838383 5px;
  
  
  .nav-logo {
    display: block;
    float: left;
    height: 53px;
    width: 20%;
    border-right: solid #838383 2px;
   
      ul {
        
        li {
          float: left;
        }
        
        img {
          padding: 0 18px;
        }
    
      .app-title {
        color: #0BCDB8;
        font-size: 20px;
        padding: 10px 8px 0 20px;
      }
    }
  }
  
//  Also for nav links
  .enter-links {
    float: right;
    display: block;
    border-left: solid #FF0300 4px;
     
    a, input[type="submit"] {
      display: block;
      margin: auto;
      background: #00EAF2;
      font-size: 20px;
      color: #F31100;
      font-weight: bold;
      padding: 15px;
    }
    
    a:hover {
      background: #0028FF;
      color: #FAD900;
    }
    
    li {
      float: left;
      border-right: solid #FF0300 4px;
    }
    
    li:nth-child(3) {
      border-width: 0;
    }
  }
}

.announcement {
  height: 50px;
  font-size: 40px;
  padding: 2px;
  
  .announce {
    position: relative;
    color: #FFF200;
    margin-top: 0;
    text-align: center;
  }
}

.backbone {
}

