body {
  position: absolute;
  display: block;
  width: 100%;
  font-family: sans-serif;
  background: #fff;
}

.navigation {
  margin-bottom: 8px;
  background: #3D3D3D;
  float: left;
  width: 100%;
  border-bottom: solid #838383 5px;
  
  
  .nav-logo {
    display: block;
    float: left;
    height: 35px;
    width: 20%;
    border-right: solid #838383 2px;
   
      ul {
        
        li {
          float: left;
        }
        
        img {
          padding: 0 18px;
        }
    
      .app-title {
        color: #0BCDB8;
        font-size: 16px;
        padding: 10px 8px 0 20px;
      }
    }
  }
  
//  Also for nav links
  .enter-links {
    float: right;
    display: block;
    border-left: solid #2FD000 4px;
     
    a, input[type="submit"] {
      display: block;
      margin: auto;
      background: #FF0600;
      font-size: 17px;
      color: #fff;
      padding: 8px;
    }
    
    a:hover, input[type="submit"]:hover {
      background: #00FFC5;
      color: #000;
    }
    
    li {
      float: left;
      border-right: solid #2FD000 4px;
    }
    
    li:nth-child(3) {
      border-width: 0;
    }
  }
}


