<h2>Annotations</h2>

<% unless annotations.empty? %>
  <ul>
    <% annotations.each do |annotation| %>
      <li>
        <%= link_to annotation.title, document_url(annotation) %>
          by <%= annotation.author.email %>
      </li>
    <% end %>
  </ul>

<% else %>
  <h4>No Annotations Yet</h4>
<% end %>