main {
  margin: auto;
  width: 900px;
}

main h1 {
  display: block;
  padding: 0 50px 0 50px;
  font-size: 60px;
}

main section {
  text-size: 25px;
}

main .c-doc {
  margin: 50px;
  display: block;
}

main .cu-docs {
  float: left;
}

main .other-docs {
  float: right;
}

main .c-doc .create-doc {
  font-size: 50px;
  background: #E3E16E;
  color: red;
  padding: 20px;
  border-radius: 20px;
}

.c-doc .create-doc:hover {
  border-radius: 20px;
  color: #360069;
  background: #FCBF09;
}

.c-doc a:visited {
  color: #1139BC;
}