main {
  margin: auto;
  width: 900px;
  padding: 50px;
  border: solid #F8FF84 8px;
  border-radius: 50px;
  background: #F4128D;
}

main h1 {
  display: block;
  padding: 0 50px 0 50px;
  font-size: 60px;
}

main section {
  text-size: 25px;
}

