/* Resets */

html, body, nav, ul, li, a, div, section{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

button {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: green;
  background: transparent;
  box-sizing: content-box;
  cursor: pointer;
}

input[type='submit'] {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  box-sizing: content-box;
  cursor: pointer;
  
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Utility */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* Main Styles */

.main-img {
  height: 400px;
}

body {
  background: #F4128D;
  color: #00FF13;
  font-family: sans-serif;
}

a {
  color: #00EFE6;
}

a:visited {
  color: #00EFE6;
}

nav {
  width: 800px;
  margin: auto;
}

.nav-logo {
  float: left;
}

.links {
  width: 310px;
  float: right;
}

.nav-link {
  float: left;
  padding: 5px 5px;
  border-right: solid black 2px;
}

.nav-link:hover {
  background: #686DFF;
}

.entrance input[type="submit"] {
  padding: 5px 5px;
  color: #00EFE6;
}

.entrance {
  width: 298px;
  border: solid black 2px;
}

.entrance li {
  display: block;
}

.getting-around {
  float: right;
  width: 130px;
  border: solid black 2px;
}

.getting-around .nav-link {
  float: left;
}

.getting-around input[type="submit"] {
  padding: 5px 5px;
  color: #00EFE6;
}

.getting-around li {
  display: block;
}

