<ul class="group">
  <li><a href="#/doc/newdoc" id="new-doc">New Doc</a></li>
  <li><a href="#" id="my-docs">Documents Index</a></li>
  <content class="curr-sel">
    <p>Current Selection:</p>
    <div class="sel-show"></div>
  </content>
</ul>