<content class="home group">
  <container class="utility-stuff group">
    <nav class="doc-nav group"></nav>
    <div class="search-box"></div>
  </container>
  
  <div class="sel-box"></div>
  
  <article class="home-content group">
    <container class="lefty">
      <content class="left-pane"></content>
    </container>
    <container class="righty">
      <content class="right-pane">
        <div class="all-docs"></div>
      </content>
    </container>
  </article>

</concept>

<content class="abs-bottom">
  <container class="footer group">
    <div class="left">A Rap Genius Clone</div>
    <div class="right">
      <ul class="links">
        <li><a href="https://www.github.com/Axylos">My Github</a></li>
      </ul>
    </div>
  </container>
</content>