<content class="home group">


  <container class="lefty">
    <content class="left-pane"></content>
  </container>

  <container class="righty">
    <content class="right-pane">
      <div class="all-docs"></div>
    </content>
  </container>

</concept>