<content class="home group">
  <container class="utility-stuff group">
    <nav class="doc-nav group"></nav>
    <div class="search-box"></div>
  </container>
  
  <div class="sel-box"></div>
  
  <article class="home-content group">
    <container class="lefty">
      <content class="left-pane"></content>
    </container>
    <container class="righty">
      <content class="right-pane">
        <div class="all-docs"></div>
      </content>
    </container>
  </article>

</concept>