<content class="home group">

  <nav class="doc-nav"></nav>
  <div class="sel-box"></div>
  <container class="lefty">
    <content class="left-pane"></content>
  </container>

  <container class="righty">
    <content class="right-pane">
      <div class="all-docs"></div>
    </content>
  </container>

</concept>