<content class="home group">

  <p>Home</p>
  
  <container class="lefty"><div class="left-pane">some stuff</div></container>
  
  <container class="righty"><div class="right-pane">more stuff</div></container>
  
</concept>