<div class="doc-preview" id="<%= doc.id %>">
  <a href="#/doc/show/<%= doc.id %>">
  <container class="author"><%= author.escape('email') %></container>
  <content class="doc-title"><%= doc.escape('title') %></content></a></div>