<a class='new-anno group' href=<%= "#/doc/" + doc.id + "/newAnno" %>>Make New Annotation</a>
<h1><%= doc.escape('title') + " by " + author.escape('email') %></h1>
<content class="doc-text"><%= doc.escape('body') %></content>