<section class="bb-settings">

  <h1>Update User Settings</h1>

  <form>

    <label for "email">Email</label>
    <input
      type="email"
      name="user[email]"
      value="<%= user.escape('email') %>"
      class="log-inputs">

    <label for "nick">Nickname</label>
    <input
      type="text"
      name="user[nick]"
      class="log-inputs"
      value="<%= user.escape('nick') %>">

    <label for="user_picture">Profile pic</label>
    <input id="user_picture" type="file" name="user[profile_pic]">

    <input type="submit" value="Update Attributes">

  </form>




</section>