/* Resets */

html, section, article, body, nav, ul, li, a, div, h1, h2, h3, section{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

button {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: green;
  background: transparent;
  box-sizing: content-box;
  cursor: pointer;
}

input[type='submit'] {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  box-sizing: content-box;
  cursor: pointer;
  
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input[type="email"],
  input[type="password"],
  input[type="text"],
  textarea {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    background: transparent;
    color: inherit;
    -webkit-appearance: none;
    box-sizing: content-box;
    width: auto;
    display: inline-block;
  }

  input[type="submit"] {
    display: inline;
    cursor: pointer;
  }

/* Utility */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* Main Styles */

.main-img {
  height: 350px;
}

body {
  position: relative;
  background: #00F5C4;
  color: #00FF13;
  font-family: sans-serif;
  width: 1004;
}

a {
  color: #00EFE6;
}

a:visited {
  color: #00EFE6;
}

nav {
  width: 1000px;
  margin: 50px auto;
  border: solid black 8px;
  border-radius: 25px;
  background: #F4128D;;
}

.nav-logo {
  float: left;
  width: 60%;
}

.app-title {
  float: left;
  font-size: 25px;
  margin: 35px 40px 0;
}

.logo-img {
  float: left;
}

.links {
  width: 310px;
  height: 105px;
  float: right;
}

.nav-link {
  border-left: 8px solid black;
  float: left;
  padding: 5px 5px;
}

.nav-link:hover {
  background: #686DFF;
}

.entrance input[type="submit"] {
  color: #00EFE6;
  border-left: solid black 8px;
}

.entrance {
  width: 470px;
  float: right;
}

.entrance .nav-link {
  font-size: 20px;
  padding: 41px 20px;
}

.entrance li {
  display: block;
}

.getting-around {
  float: right;
  width: 401px;
}

.getting-around .nav-link {
  font-size: 25px;
  padding: 38px 20px;
}

.getting-around input[type="submit"] {
  color: #00EFE6;
  border-left: solid black 8px;
}

.getting-around li {
  display: block;
}




