<form action="<%= session_url %>" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  <input type="hidden" name="user[email]" value="demo@demo.com">
  <input type="hidden" name="user[password]" value="drowssap">
  <input type="submit" value="Sign in as Demo User">
</form>